.site-footer {
  padding: 2rem 0;
  background-color: $rich-black; // Using your dark color for contrast
  color: lighten($magnolia, 5%);
  font-family: $font-body;
  font-size: 0.9rem;

  .site-footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-widgets {
  .social-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1.5rem;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
      color: $color-secondary;
    }
  }
}

.site-info {
  color: $color-text-light;
}

